# Dependencies
node_modules/

# Build output
dist/
*.local

# Environment variables
.env
.env.local
.env.production.local

# Editor
.vscode/
.DS_Store

# Logs
*.log

# Vercel
.vercel

# Cache
.cache/
